.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.width_70 {
  width: 70%;
}