.headerProduct {
  width: 100%;
  background-color: #b069f1;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.productPage {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5% 0.5%;
  display: flex;
}

.productContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 1%;
}

.headerPayment {
  margin-bottom: 5vh;
}

.imageContainer {
  margin: 0 auto;
  padding: 1%;
  width: 100%;
}

.productImagem {
  display: block;
  width: 100%;
  height: 70vh;
}

.priceProduct {
  font-size: 28px;
  font-weight: 400;
  color: #000000;
}

.textParcela {
  font-weight: 300;
  margin-right: 5px;
}

.inputProductPage {
  outline: none;
  border: none;
  width: 40%;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 5vh;
}

.pagamentoContainer {
  flex: 1;
  position: relative;
  padding: 2%;
}

.containerBtn {
  position: absolute;
  width: 100%;
  padding: 20px;
  bottom: 0;
  left: 0;
}

.btnProductPage {
  outline: none;
  width: 100%;
  border: none;
  background-color: #b069f1;
  padding: 15px;
  border-radius: 20px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}
