.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.slide {
  max-height: 65vh;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.slick-center .slide {
  transform: scale(1.08);
  transition: transform 0.3s ease;
  border-color: rgba(176, 106, 241, 0.5);
}

.slick-slide {
  padding: 20px;
}
